# Scraping Twitter using GOT3 (One Query Batch at a Time!)

In [1]:
import GetOldTweets3 as got
import pandas as pd
import numpy as np

In [2]:
cd datasets/twitter/timeseries/

C:\Users\Rober\Desktop\ga\eddi_discovery\datasets\twitter\timeseries

In [39]:
# https://towardsdatascience.com/how-to-scrape-tweets-from-twitter-59287e20f0f1

def text_query_to_csv(text_query, count):
    
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query)\
                                                .setMaxTweets(count)\
                                                .setSince('2018-01-01')\
                                                .setUntil('2018-01-11')
                                                                                    
                                                
    # Creation of list that contains all tweets
    tweets = got.manager.TweetManager.getTweets(tweetCriteria)

    # Creating list of chosen tweet data
    text_tweets = [[tweet.date, tweet.text, tweet.retweets, tweet.username] for tweet in tweets]

    # Creation of dataframe from tweets
    tweets_df = pd.DataFrame(text_tweets, columns = ['datetime', 'text', 'retweets', 'username'])

    # Converting tweets dataframe to csv file
    tweets_df.to_csv('{}-{}k-tweets_51.csv'.format(text_query, int(count/1000)), sep=',')

## @MrsMeyersClean

In [40]:
text_query = '@MrsMeyersClean'
count = 100_000

## @SeventhGen

In [41]:
text_query = '@SeventhGen'
count = 3000

## @DrBronner

In [42]:
text_query = '@DrBronner'
count = 9_999

## @Method

In [43]:
text_query = '#theresgoodinside'
count = 9_999

## #plasticfree

In [44]:
text_query = 'plasticfree'
count = 4_000

In [45]:
text_query_to_csv(text_query, count)

In [46]:
!ls

drbronner_20180101
meyers_20180101
plasticfree_20180101
plasticfree-4k-tweets_33.csv
plasticfree-4k-tweets_34.csv
plasticfree-4k-tweets_35.csv
plasticfree-4k-tweets_36.csv
plasticfree-4k-tweets_37.csv
plasticfree-4k-tweets_38.csv
plasticfree-4k-tweets_39.csv
plasticfree-4k-tweets_40.csv
plasticfree-4k-tweets_41.csv
plasticfree-4k-tweets_42.csv
plasticfree-4k-tweets_43.csv
plasticfree-4k-tweets_44.csv
plasticfree-4k-tweets_45.csv
plasticfree-4k-tweets_46.csv
plasticfree-4k-tweets_47.csv
plasticfree-4k-tweets_49.csv
plasticfree-4k-tweets_50.csv
plasticfree-4k-tweets_51.csv
plasticfree-5k-tweets_32.csv
seventhgen_20180101
time_master.csv

In [47]:
df = pd.read_csv('./plasticfree-4k-tweets_52.csv', index_col=False).drop(columns='Unnamed: 0')

In [48]:
df

,datetime,text,retweets,username
0,2018-01-10 23:57:43+00:00,Wow! New technology to replace plastic! #edibl...,1,joysdottir
1,2018-01-10 23:54:59+00:00,@DawnButlerBrent How do you feel about going #...,0,aplastic_planet
2,2018-01-10 23:48:13+00:00,Green block PERMS project ...leading the commu...,5,sarah_sandey
3,2018-01-10 23:47:37+00:00,After watching #BluePlanet2 I am so happy that...,1,KEdge23
4,2018-01-10 23:38:16+00:00,2042 is a long way off... Theresa May aims to ...,0,CFLFrank
...,...,...,...,...
1558,2018-01-01 00:50:22+00:00,I'm doing all of that already. Being #PlasticF...,2,BenTrovato21
1559,2018-01-01 00:23:37+00:00,@Tom_Traver How do you feel about going #Plast...,0,aplastic_planet
1560,2018-01-01 00:22:36+00:00,@ruthfraser05 Check out why we want to be #Pla...,0,aplastic_planet
1561,2018-01-01 00:10:08+00:00,"Happy New Year to all our customers, suppliers...",0,EarthFrFoodware
1562,2018-01-01 00:01:01+00:00,#HappyNewYear2018 #2017 saw the #world take ne...,0,GOJUTE